.movies-list {
    padding-bottom: 98px;
    background-color: #202020;
}
  
.movies-list__container {
    display: grid;
    justify-content: center;
    grid-gap: 29px 20px;
    grid-template-columns: repeat(auto-fit, 364px);
    list-style-type: none;
    margin: 0 auto;
    padding: 77px 0 80px;
    width: calc(100% - 70px * 2);
    max-width: 1280px;
}

.movies-list__button {
    display: block;
    margin: 0 auto;
    border: 1.5px solid #424242;
    border-radius: 6px;
    padding-bottom: 0;
    width: 320px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    background-color: #202020;
    transition: opacity 0.4s linear;
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    .movies-list__container {
      grid-gap: 34px 30px;
      grid-template-columns: repeat(auto-fit, 339px);
      padding-top: 80px;
      width: calc(100% - 30px * 2);
    }
}
  
  @media screen and (max-width: 420px) {
    .movies-list__container {
      grid-gap: 15px 0;
      grid-template-columns: repeat(auto-fit, 300px);
      padding-top: 40px;
      width: calc(100% - 10px * 2);
    }

    .movies-list__button {
        width: 240px;
    }
}
  