.filterCheckbox{
    background-color: #202020;
    font-family: "Inter";
}

.filterCheckbox__container {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 19px;
}

.filterCheckbox__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}
  
.checkbox {
    appearance: none;
    width: 2.5em;
    height: 1.5em;
    border-radius: 20px; 
    background: #EBEBEB; 
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

.checkbox:checked{
    background: #3ddc84;
}
  
.checkbox:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #FFFFFF;
    transform: scale(.8);
    left: 0;
    align-items: center;
    transition: all .2s ease-in-out;
    
}

.checkbox:checked:after{
    left: calc(100% - 1.5em);
}
  
@media screen and (max-width: 320px) {
    .filterCheckbox__title {
      font-size: 11px;
      line-height: 18px;
    }
}
  